{% extends 'account/base.html' %}
{% load static %}

{% block title %}
TZK - Forget Password
{% endblock %}

{% block content %}
<div class="col-12 p-0">    
    <div class="login-card login-dark">
      <div>
        <div><a class="logo" href="index.html"><img class="img-fluid for-light" style="width: 200px; height: 20px;" src="{% static 'images/Tzkar • Creative.svg' %}" alt="looginpage"></a></div>
        <div class="login-main"> 
            <form class="theme-form">
                <h3>Forget Password</h3>
                  <p>Enter your email to recieve a link to reset password</p>
                  <div class="form-group">
                    <label class="col-form-label">Email Address</label>
                    <input class="form-control" type="email" required="" placeholder="Test@gmail.com">
                  </div>
                  <div class="form-group mb-0">
                    <div class="text-end mt-3">
                      <button class="btn btn-primary btn-block w-100" type="submit">Send</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock%}