{% extends 'account/base.html' %}
{% load static %}

{% block title %}
TZK - Register
{% endblock %}

{% block content %}
    <!-- login page start-->
    <div class="container-fluid p-0"> 
        <div class="row m-0">
            <div class="col-12 p-0">    
                <div class="login-card login-dark">
                  <div>
                    <div><a class="logo" href="index.html"><img class="img-fluid for-light" style="width: 200px; height: 20px;" src="{% static 'images/Tzkar • Creative.svg' %}" alt="looginpage"></a></div>
                    <div class="login-main"> 
                      <form class="theme-form" action="{% url 'register-page' %}" method="post">{% csrf_token %}
                        <h3>Create your account</h3>
                        <p>Enter your personal details to create account</p>
                        <div class="form-group">
                          <label class="col-form-label pt-0">Your Names</label>
                          <div class="row g-2">
                            <div class="col-6">
                              <input class="form-control" type="text" required="" name="first_name" placeholder="First name">
                            </div>
                            <div class="col-6">
                              <input class="form-control" type="text" required="" name="last_name" placeholder="Last name">
                            </div>
                            <div class="col-6">
                              <input class="form-control" type="text" required="" name="username" placeholder="Username">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">Email Address</label>
                          <input class="form-control" type="email" required="" name="email" placeholder="Test@gmail.com">
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">Password</label>
                          <div class="form-input position-relative">
                            <input class="form-control" type="password" name="password" required="" placeholder="*********">
                            <div class="show-hide"><span class="show"></span></div>
                          </div>
                        </div>
                        <div class="form-group mb-0">
                          <br>
                          <button class="btn btn-primary btn-block w-100" type="submit">Create Account</button>
                        </div>
                        
                        <p class="mt-4 mb-0">Already have an account?<a class="ms-2" href="{% url 'login-page' %}">Sign in</a></p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- latest jquery-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Bootstrap js-->
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <!-- feather icon js-->
        <script src="{% static 'js/icons/feather-icon/feather.min.js' %}"></script>
        <script src="{% static 'js/icons/feather-icon/feather-icon.js' %}"></script>
        <!-- scrollbar js-->
        <!-- Sidebar jquery-->
        <script src="{% static 'js/config.js' %}"></script>
        <!-- Plugins JS start-->
        <!-- Plugins JS Ends-->
        <!-- Theme js-->
        <script src="{% static 'js/script.js' %}"></script>
      </div>

    {% endblock %}
