{% extends 'account/base.html' %}
{% load static %}

{% block title %}
TZK - Reset Password
{% endblock %}

{% block content %}
<div class="col-12 p-0">    
    <div class="login-card login-dark">
      <div>
        <div><a class="logo" href="index.html"><img class="img-fluid for-light" style="width: 200px; height: 20px;" src="{% static 'images/Tzkar • Creative.svg' %}" alt="looginpage"></a></div>
        <div class="login-main"> 
            <form class="theme-form" method="post">{% csrf_token %}
                <h3>Reset Password</h3>
                  <p>Enter your password to have it reset for you</p>
                  <div class="form-group">
                    <label class="col-form-label">Enter New Password</label>
                    <div class="form-input position-relative">
                      <input class="form-control" type="password" name="new_password" required="" placeholder="*********">
                      <div class="show-hide"><span class="show"></span></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Re-Enter New Password</label>
                    <div class="form-input position-relative">
                      <input class="form-control" type="password" name="retype_new_password" required="" placeholder="*********">
                      <div class="show-hide"><span class="show"></span></div>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="text-end mt-3">
                      <button class="btn btn-primary btn-block w-100" type="submit">Reset Password</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}